<ion-view on-swipe-right="goBack()">
  <ion-nav-title class="title">
    antwoord
  </ion-nav-title>
  <ion-content>
    <p class="uitleg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae qui sed, modi mollitia, labore eveniet eum ipsa omnis. Corrupti vel cumque quidem eaque aut necessitatibus nemo officiis autem, illum laborum?</p>

    <a href="#" class="theorielink">link naar theorie</a>

    <p class="tip">Tip: sluit voor deze oefening je koptelefoon aan!</p>
  </ion-content>
</ion-view>