<ion-view>
  <ion-nav-title>
  	<i class="icon icon-logo"></i>
  	<h1 class="title">Music Master</h1>
  </ion-nav-title>
  <ion-content>
	<h4 class="padding">Select an exercise</h4>
    <div class="item item-divider"><i class="gehoor"></i>hearing</div>
    <div class="list">
      <a class="item" ng-repeat="oefening in gehoorArray" ng-href="#/uitleg/{{oefening.id}}">{{oefening.name}}</a>
    </div>
    <div class="item item-divider"><i class="ritme"></i>rhythm</div>
    <div class="list">
<!--       <a class="item" ng-repeat="oefening in ritmeArray" ng-href="#/uitleg/{{oefening.id}}">{{oefening.name}}</a>
 -->    </div>
  </ion-content>
</ion-view>