<ion-view>
  <ion-nav-title>
  	<i class="icon icon-logo"></i>
  	<h1 class="title">Music Master</h1>
  </ion-nav-title>
  <ion-content>
	<h4 class="padding">Select an exercise</h4>
    <div class="list">
    	<div class="item item-divider"><i class="gehoor"></i>hearing</div>
	    	<a class="item" ui-sref="uitleg">exercise 1</a>
	    	<a class="item">exercise 2</a>
	    	<a class="item">exercise 3</a>
	    	<a class="item">exercise 4</a>
    	<div class="item item-divider"><i class="ritme"></i>rhythm</div>
	    	<a class="item">exercise 1</a>
	    	<a class="item">exercise 2</a>
	    	<a class="item">exercise 3</a>
	    	<a class="item">exercise 4</a>
    </div>

    <div class="list" ng-repeat="oefening in gehoorArray">
      <a class="item" ng-href="#/uitleg/{{oefening.id}}">{{oefening.name}}</a>
    </div>
  </ion-content>
</ion-view>