<ion-view>
  <ion-nav-title>
  	<i class="icon icon-logo"></i>
  	<h3 class="title">Music Master</h3>
  </ion-nav-title>
  <ion-content>
	<h3 class="padding">Select an exercise</h3>
    <div class="list">
    	<div class="item item-divider"><i class="gehoor"></i>hearing</div>
	    	<a class="item" ui-sref="uitleg">exercise 1</a>
	    	<a class="item">exercise 2</a>
	    	<a class="item">exercise 3</a>
	    	<a class="item">exercise 4</a>
    	<div class="item item-divider"><i class="ritme"></i>rhythm</div>
	    	<a class="item">exercise 1</a>
	    	<a class="item">exercise 2</a>
	    	<a class="item">exercise 3</a>
	    	<a class="item">exercise 4</a>
    </div>
  </ion-content>
</ion-view>