<ion-view hide-back-button="true">
  <ion-nav-title class="title">
    score
  </ion-nav-title>
  <ion-content scroll="false">
  	<section class="stretch scorestretch">
	  	<h1 id="score"> {{score}}/10</h1>
		<p class="advies">
		Je hebt {{score}} van de 10 vragen goed beantwoord!<br/><br/><br/><br/></p>
		<p class="advies">
		Neem de <a href="#" target="_blank" onclick="window.open('https://www.google.nl/search?q=interval+muziek', '_system', 'location=yes'); return false;">theorie van intervallen</a> nog een keer door of<br/>
		druk op de 'terug-knop' om terug naar het menu te gaan.</p>

		<button class="button button-block button-large icon button-bottom" ng-click="goHome()">Terug</button>
	</section>
  </ion-content>
</ion-view>