<ion-view on-swipe-right="goBack()">
  <ion-nav-title class="title">
    uitleg
  </ion-nav-title>
  <ion-content scroll="false">
  	<section class="stretch uitleg margin">
	  	<!-- <p>{{oefening.description}}</p>  -->
	  	
	  	
	  	<p class="beschrijving oefening">
	  	Een interval is de afstand tussen 2 tonen. Er zijn 8 verschillende intervallen: Prime, Secunde, Terts, Kwart, Kwint, Sext, Septiem en Octaaf. De prime, kwart, kwint en octaaf zijn rein, en de secunde, terts, sext en septiem kunnen groot of klein zijn. Als je een interval zoekt, moet je eerst een toonladder maken op de beginnoot. Als je een groot interval zoekt, maak je een majeur toonladder, en als je een klein interval zoekt, maak je een mineur toonladder.<br/>
	  	<a href="https://www.google.nl/search?q=interval">Lees hier meer over de theorie.</a>
	  	
	  	</p>
	  	
	  	
	  	
	  	
	  	
	  	<p class="tip">
	  		Tip: Plug in your headphone for better sound quality.
	  	</p>
	  	<a class="button button-large button-block button-bottom" ng-href="#/oefening1">Go</a>
  	</section>
  </ion-content>
</ion-view>