<ion-view on-swipe-right="goBack()">
  <ion-nav-title class="title">
    uitleg
  </ion-nav-title>
  <ion-content scroll="false">
  	<section class="stretch uitleg margin">
	  	<p>{{oefening.opdrachten[0].beschrijving}}</p>
	  	<a href="http://www.google.nl">Link naar theorie op google</a>
	  	<p class="tip">
	  		Tip: Plug in your headphone for better sound quality.
	  	</p>
	  	<a class="button button-large button-block button-bottom" ng-href="#/oefening/{{oefening.id}}">Go</a>
  	</section>
  </ion-content>
</ion-view>