<ion-view hide-back-button="true">
  <ion-nav-title class="title">
    antwoord
  </ion-nav-title>
  <ion-content scroll="false">
	<section class="antwoord stretch">
      
      <div class="check-img" ng-if="imgCheck()"></div>
      <div class="cross-img" ng-if="!imgCheck()"></div>

      <p class="uitleg">{{antwoord[0].uitleg}}</p>
 
	    <button class="button button-block button-large icon ion-ios-skipforward button-bottom" ng-click="nextOefening('2')"></button>
    </section>
  </ion-content>
</ion-view>