<ion-view hide-back-button="true" ng-init="playAudio('440A')">
  <ion-nav-title class="title">
  	oefening 5/10
  </ion-nav-title>
  <ion-content scroll="false">
  	<section class="stretch">
	  	<a class="speaker" ng-click="playAudio('440A')"><i class="icon ion-ios-loop-strong loop"></i></a>
	  	<p class="vraag">Zing de kleine terts op deze toon.</p>
<!--       <div id="freq"></div>
 -->      <button class="button button-block button-large icon ion-ios-mic button-bottom" on-hold="frequency()" on-release="stop(); check(4); naarAntwoord('5')"></button>
  	</section>
  </ion-content>
</ion-view>