<ion-view hide-back-button="true" ng-init="playAudio('261C')">
  <ion-nav-title class="title">
  	oefening 8/10
  </ion-nav-title>
  <ion-content scroll="false">
  	<section class="stretch">
	  	<a class="speaker" ng-click="playAudio('261C')"><i class="icon ion-ios-loop-strong loop"></i></a>
	  	<p class="vraag">Zing de reine kwint op deze toon.</p>
<!--       <div id="freq"></div>
 -->      <button class="button button-block button-large icon ion-ios-mic button-bottom mic" on-hold="frequency()" on-release="stop(); check(7); naarAntwoord('8')"></button>
  	</section>
  </ion-content>
</ion-view>