<ion-view hide-back-button="true" ng-init="playAudio('293D')">
  <ion-nav-title class="title">
  	oefening 6/10
  </ion-nav-title>
  <ion-content scroll="false">
  	<section class="stretch">
	  	<a class="speaker" ng-click="playAudio('293D')"><i class="icon ion-ios-loop-strong loop"></i></a>
	  	<p class="vraag">Zing de kleine secunde op deze toon.</p>
      <div id="freq"></div>
      <button class="button button-block button-large icon ion-ios-mic button-bottom" on-hold="frequency()" on-release="stop(); check(5); naarAntwoord('6')"></button>
  	</section>
  </ion-content>
</ion-view>